{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <article>
            <header>
                <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 col-sm-6">
                        <h2 class="position-relative">Statistiche del brano <strong>{{ audio.titolo }}</strong></h2>
                    </div>
                    <div class="col-12 col-sm  text-lg-end">
                        <h6 class="txt-brand">
                            {% set numVisualizzazioni = 0 %}
                            {% for item in statisticheAudio %}
                                {% set numVisualizzazioni = numVisualizzazioni + item|length %}
                            {% endfor %}
                            {{ numVisualizzazioni }} ascolti
                        </h6>
                    </div>
                </div>
                </div>
            </header>

            <section id="filters">
                <div class="card card-body shadow">
                    <form class="form-inline mb-0" role="search" method="get" action="">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg mb-2">
                                <input type="text" class="form-control textFilter" name="s" placeholder="Cerca..." value="{% if (filtri.s is defined) %}{{ filtri.s }}{% endif %}">
                            </div>
                            <div class="col-12 col-lg mb-2">
                                <select class="form-control chosen ord" name="ord" data-placeholder="Ordina per...">
                                    <option value="">Ordina per...</option>
                                    <option {% if (filtri.ord is defined and filtri.ord == 'ascoltiAsc' ) %} selected {% endif %} value="ascoltiAsc">Ascolti --> ASC</option>
                                    <option {% if (filtri.ord is defined and filtri.ord == 'ascoltiDesc' ) %} selected {% endif %} value="ascoltiDesc">Ascolti --> DESC</option>
                                    <option {% if (filtri.ord is defined and filtri.ord == 'richiesteAsc' ) %} selected {% endif %} value="richiesteAsc">Richieste --> ASC</option>
                                    <option {% if (filtri.ord is defined and filtri.ord == 'richiesteDesc' ) %} selected {% endif %} value="richiesteDesc">Richieste --> DESC</option>
                                </select>
                            </div>

                            <div class="col-12 col-lg mb-2">
                                <button type="submit" class="btn btn-sm btn-brand ms-auto">Cerca</button>
                                {% if (filtri|length > 0) %}
                                    <a href="{{ path('listaUtenti') }}" class="ms-2">annulla</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            {# ##################### qui và la lista degli utenti che hanno visualizzato questo audio  ##################### #}

            <div class="table-responsive">
                <table class="table table-bordered table-list mb-5">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Email</th>
                        <th>Gruppo</th>
                        <th>Company</th>
                        <th>Ruolo</th>
                        <th>Ascolti</th>
                        <th>Richieste</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, item in statisticheAudio %}
                        {% if (arrayUtenti[key] is defined ) %}
                            <tr>
                                <td class="itemId">{{ arrayUtenti[key].id }}</td>
                                <td class="nome"><a href="{{ path('vistaStatisticheUtenti', {'id' : arrayUtenti[key].id}) }}">{{ arrayUtenti[key].nome }}</a></td>
                                <td ><a href="{{ path('vistaStatisticheUtenti', {'id' : arrayUtenti[key].id}) }}">{{ arrayUtenti[key].cognome }}</a></td>
                                <td >{{ arrayUtenti[key].userIdentifier }}</td>
                                <td >{{ arrayUtenti[key].gruppo.title }}</td>
                                <td >{{ arrayUtenti[key].company }}</td>
                                <td >{{ arrayUtenti[key].ruolo }}</td>
                                <td >
                                    <span class="badge bg-secondary">
                                        {% if (statisticheAudio[key] is defined) %}
                                            {{  statisticheAudio[key]|length }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </span>
                                </td>
                                <td >
                                    <span class="badge bg-secondary">
                                        {% if (statisticheAudioRichieste[key] is defined) %}
                                            {{  statisticheAudioRichieste[key]|length }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </span>
                                </td>

                                <td class="text-center">
                                    <a href="{{ path('schedaUtenti', {'id' : arrayUtenti[key].id}) }}" data-toggle="tooltip" title="Modifica" class="btn btn-brand btn-sm" data-bs-original-title="Modifica utente" aria-label="Modifica utente"><i class="fa-solid fa-edit"></i></a>

                                    <a href="{{ path('vistaStatisticheUtenti', {'id' : arrayUtenti[key].id}) }}" data-toggle="tooltip" title="Statistiche per l'utente" class="btn btn-brand btn-sm" data-bs-original-title="Statistiche per l'utente" aria-label="Statistiche per l'utente"><i class="fa-solid fa-chart-pie"></i></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </article>
    </main>

    {{ include('blocks/modal-delete.html.twig') }}


{% endblock %}
