{{ include('emails/blocks/header.html.twig') }}

<table bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="30" align="center"
       style="margin: auto"
       class="tableContent">
    <tr>
        <td align="center" style="text-align: center;">
            <h1>Recupero password.</h1>
        </td>
    </tr>
    <tr>
        <td align="center" style="text-align: center;">
            <p>
                Ciao {{ utente.nome }}, recupera la tua password!
            </p>
            <p>
                Hai ricevuto questa email perché hai richiesto un recupero password dal sito {{ teamSite }}<br>
                <strong>La tua nuova password è</strong> {{ newPassword }}
            </p>
            <p>
                <a href="{{ liveSite }}{{ basePath }}" target="_blank">ACCEDI</a>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" style="text-align: center;">
            <p>
                Grazie,<br>
                il team di <strong>{{ teamSite }}</strong>
            </p>
        </td>
    </tr>

</table>

{{ include('emails/blocks/footer.html.twig') }}