{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="container-fluid">
            <article>
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    {% if (feeling.id is not defined or feeling.id == "new") %}
                        <h2>< feeling nuovo ></h2>
                    {% else %}
                        <h2>{{ feeling.nome }} | <small>{{ feeling.codice }}</small></h2>
                    {% endif %}
                </div>
                <div class="col-12 col-lg text-lg-end">
                    <a href="{{ path('listaFeeling') }}"><i class="fa-light fa-angle-right"></i> Vai alla lista dei feelings</a>
                </div>
            </div>

            <form class="form-inline mb-0" role="search" action="" method="post">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-2 mb-3">
                                <label>Codice *</label>
                                <input type="text" class="form-control" name="codice" placeholder="Codice *" required value="{% if (feeling.codice is defined) %}{{ feeling.codice }}{% endif %}">
                            </div>
                            <div class="col-12 col-lg mb-3">
                                <label>Nome *</label>
                                <input type="text" class="form-control" name="nome" placeholder="Nome feeling *" required value="{% if (feeling.nome is defined) %}{{ feeling.nome }}{% endif %}">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 col-lg">
                                <button type="submit" class="btn btn-brand ms-auto" name="salva">SALVA</button>
                            </div>
                            <div class="col-12 col-lg text-lg-end">

                            </div>
                        </div>
                    </div>
                </div>


            </form>

        </article>
        </div>
    </main>
{% endblock %}
